@font-face {
    font-family: "OpenSansBold";
    src: url("OpenSansBold.eot");
    src: url("OpenSansBold.eot?#iefix") format("embedded-opentype"),
         url("OpenSansBold.woff") format("woff"),
         url("OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}